@media screen and (max-width: 1023px) {

    .portfolio {
      padding: 0;
    }
    .container {
      padding: 0 1em;
    }
  }  

@media screen and (max-width: 767px) {
    h2 {
      font-size: 1.8em;
      margin: 1.8em 0 0.5em 0;
    }
    .burger-button {
      display: block;
    }
    .header {
      display: block;
      height: auto;
    }
    .header ol {
      display: block;
    }
    .header ol li {
      height: 50px;
    }
    .header a {
      justify-content: center;
      height: 40px;
      font-size: 2em;
      color: #504f4f;
      margin-bottom: .5em;
    }
    .header a:hover {
      color: #000000;
      font-weight: 600;
    }

    .menu {
      position: fixed;
      background: rgba(219, 203, 53, 0.9);
      z-index: 3;
      top: 0;
      left: -100vw;
      width: 100vw;
      /* height: 100vh; */
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
    }
    .menu.is-active {
      left: 0;
    }
  
    .project {
      display: block;
    }
    .project-imageContainer {
      width: auto;
      text-align: center;
    }
 
    .container h2 {
      text-align:center;
    }
      
        .contact {
          height: auto;
          padding: 0.8em 0;
          text-align: center;
          display: block;
        }

    .social { margin: 5px 0 9px 0
    }

}


@media screen and (max-width: 480px) {

    .project-details {
      font-size: 14px;
    }
  
    .contact {
      height: auto;
      padding: 1.5em 0;
      text-align: center;
      display: block;
    }

    .footer {
      display: block;
      text-align: center;
      border: 1px solid transparent;
    }

    .social-link {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin: 0 8px;
      background-size: 25px 25px;
      }
    .creditos{
      text-align: center;
      }
}
  
	  
@media screen and (max-width: 320px) {
    h1 {
      font-size: 1.2em;
    }

    .social {
    }
    .social h3 { font-size: 16px; font-weight: 600;
      margin: 0em 0px; padding: 5px 0;
    }
    .creditos p{
      text-align: center;
      }
}


/**

.project-details {
  width: auto;
}*
.project-course, { 
  margin: .3em 0;
}
.project-title {
  font-size: 1.5em;
  margin-bottom: .3em;
}
.project-course {
  font-size: .7em;
}
.project-description {
  font-size: 1em;
}
*/