/* INICIO BURGER =========== */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bqb2fe');
  src:  url('../fonts/icomoon.eot?bqb2fe#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bqb2fe') format('truetype'),
    url('../fonts/icomoon.woff?bqb2fe') format('woff'),
    url('../fonts/icomoon.svg?bqb2fe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
}
/* =========== FIN BURGER */


/* HTML =========== */
body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  background-color: #ffffff;
}

h2 {
  color: #2b2a27;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: normal;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

/* HTML =========== */

/* HEADER =========== */
.header {
  background-color: #ffffff;
  height: 70px;
  font-size: 18px;
  top: 0;
  text-align: right;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
  display: flex;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 15px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.header a:hover {
  color: #707070;
  font-weight: 600;
}
.menu {
  height: inherit;
  float: right;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
}

/* =========== HEADER */


/* SECTION PORTFOLIO =========== */
.portfolio {
  background: #ffffff;
  padding: 20px;
}

.portfolio h3 {
  font-size: 24px;
  padding: 0px;
  margin: 3px 0px 16px 0px;
}
/* =========== SECTION CONTACT */


/* SECTION CONTACT =========== */

.contact {
  background-color: #eeeeee;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social h3 { 
  font-size: 16px; 
  font-weight: 600;
  margin: 0em 0px; 
  padding: 5px 0;
}

.social-link {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 8px;
  background-size: 35px 35px;
}
a.social-link {
	z-index:1;
	filter:alpha(opacity=60);
	-moz-opacity:.60;
	opacity:.60;
}
a:hover.social-link {
	opacity: 100;
}

.social-link.twitter {
  background-image: url('../images/twitter.png');
}
.social-link.facebook {
  background-image: url('../images/facebook.png');
}
.social-link.github {
  background-image: url('../images/github.png');
}
.social-link.instagram {
  background-image: url('../images/instagram.png');
}
.social-link.linkedin {
  background-image: url('../images/linkedin.png');
}
.social-link.spotify {
  background-image: url('../images/spotify.png');
}
/* =========== SECTION PORTFOLIO */

/* CREDITOS =========== */

.creditos {
  background-color: #dddddd;
  display: flex;
  color: #222222;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 600;
  text-align: center;
  height: 50px;
}


/* =========== SECTION CREDITOS */


/* FOOTER =========== */
.footer {
  color: white;
  background-color: #707070;
  display: flex;
  color: #eeeeee;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 500;
  height: 64px;
}
/* =========== FOOTER */


/* =========== OTROS =========== */
.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 80px; 
  padding: 20px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: top;
  justify-content: space-between;
  flex-wrap: wrap;
  color: black;
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img {
  max-width: 100%;
	padding-bottom: 20px;
}

figure.project-imageContainer a {
  opacity: 100;
}
figure.project-imageContainer a:hover {
  z-index:1;
	filter:alpha(opacity=70);
	-moz-opacity:.70;
	opacity:.70;
}

.project-description {
  font-size: 19px;
  padding-right: 17px;
  line-height: 1.5; 
  text-align: justify;
}

.project-details {
  width: 100%;  /* 50%*/
}

.project-details h3 {
color: #214C97;
}


/* ELIMINAR
.project-title {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #026fff;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 10px;
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event-list-title {
  margin-left: 20px;
}
	
.event { 
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}
.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.project-course {
  margin: 10px 0;
}





*/